<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>&copy; copyright {{ build.timestamp | dateToFormat('yyyy') }}</span>
        <a href="https://github.com/makma/eleventastic-kontent">
            {% icon "github" %}Eleventastic
        </a>
    </div>
</footer>